.anuncio {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}

.anunciantes {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.anuncio .title-head {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
    border-bottom: 2px solid #E12025;
}

.anuncio .title-head p {
    text-transform: uppercase;
    font-size: 15pt;
    color: #E12025;
}

.anuncio .anuncioCards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}
.anuncioCards .card {
    max-width: 350px;
    margin: auto;
}

.create-anunc{
    background: #E12025;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.create-anunc:hover {
    cursor: pointer;
    background: #dc4146;
}


.tabelaAnunciates {
    margin: 20px 0;
}

.anuncio .card {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
    width: 500px;
    justify-content: center;
}

.anuncio .card .cardNome {
    font-weight: 450;
    font-size: 15px;
    text-align: left;
    text-transform: capitalize;
    border-radius: 5px;
    margin: 7px 0;
}
.anuncio .card .verMais {
    width: 80px;
    padding: 7px;
    color: #fff;
    background: rgb(13, 13, 13);
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
    margin: 7px 0;
}

.anuncio .card .verMais:hover{
    cursor: pointer;
    background: rgb(72, 71, 71);
}

.anuncio .anuncioCards p {
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;

}

.anuncio .descricao {
    height: 80px;
    font-size: 12px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anuncio .anuncioCards .imgCard {
    height: 310px;
    padding: 40px;
}

.anuncio .card:hover .imgCard {
    opacity: 0.2;
}

.anuncianteModal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modalAnunciante {
    width: 100%;
}

.anunciante-aside {
    width: 150px;
    margin-left: 10px;
    border-right: 1px solid #ccc;
}

.anunciante-principal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.body-anuncio {
    width: 100%;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    margin-top: 5px;
}

.body-anuncio p {
    text-transform: capitalize;
    font-size: 11pt;
}

.estado-body {
    width: 90px;
    font-size: 12px;
    padding: 3px;
    background: rgba(130, 134, 39, 0.757);
    margin: 3px 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.body-anuncio .card {
    width: 90%;
    margin: 10px auto;
}

.registrar-anuncio .anuncioImage {
    border: 1px solid #e1dbdb;
    width: 310px;
    margin-left: 7px;
    border-radius: 7px;
    margin-top: 30px;
    /* height: 250px; */
}

.anuncioImage .img-div {
    margin-left: 150px;
    margin: 50px;
}

.anucianteCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background: #fff;
    margin-top: 5px;
    border-radius: 4px;
}

.anucianteCards .anuncioCards {
    width: 300px;
}

.anucianteCards p {
    font-weight: 300;
}

.no-results {
    width: 400px;
    margin: auto;
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: 300;
    color: #E12025;
    margin-top: 20px;
}

.anuncio-detalhe {
    width: 100%;
    padding: 5px;
    margin: auto;
    /* background: #e2e2e2; */
}

.registrar-anuncio {
    width: 100%;
    margin-top: 50px;
    background: #fff;
    box-shadow: 2px 2px 3px #ccc;
    padding: 5px;
    border-radius: 4px;
}

.registrar-anuncio .anuncioImage {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.registrar-anuncio .boxRegister .titulo-anu {
    width: 100%;
}

.registrar-anuncio .boxRegister .desig {
    width: 100%;
    margin-top: 11%;
}

.registrar-anuncio .txtField {
    width: 100%;
}

.card-img-anunciante{
    margin-top: 50px;
}

.body-anuncio span{
    font-weight: 600;
    font-size: 11pt;
}


@media only screen and (min-width: 620px) {
    .modalAnunciante {
        width: 550px;
    }

    .body-anuncio-aside{
        width: 100%
    }

    .body-anuncio {
        width: 100%;
        margin: auto;
        background: #fff;
        padding: 7px;
        border-radius: 7px;
        margin-top: 5px;
    }

    .body-anuncio p {
        font-weight: 300;
    }

    .body-anuncio-img {
        width: 100%;
        height: 642px;
        margin: auto;
        background: #fff;
        padding: 7px;
        border-radius: 7px;
        margin-top: 5px;
    }
    .body-anunciante-img {
        width: 100%;
        height: 510px;
        margin: auto;
        background: #fff;
        padding: 7px;
        border-radius: 7px;
        margin-top: 5px;
    }

    .tabs {
        width: 500px;
        margin: auto;
    }

    .anuncio-detalhe {
        width: 100%;
        margin: auto;
        padding: 5px;
        /* background: #e2e2e2; */
        margin-top: 15px;
    }

    .anucianteCards .anuncioCards {
        width: 100%;
    }

    .anuncio {
        width: 100%;
    }

    .anuncioCards {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 20px;
        align-content: flex-start;
        justify-content: flex-start;
    }

    .anuncioCards .card {
        max-width: 350px;
        margin: 0;
    }

    .registrar-anuncio {
        width: 100%;
    }

    .registrar-anuncio .anuncioImage {
        width: 95%;
        margin-left: 10px;
        padding-bottom: 30px;
    }

    .registrar-anuncio .boxRegister .titulo-anu {
        width: 31%;
        
    }


    .registrar-anuncio .txtField {
        width: 31%;
    }

}

@media only screen and (min-width: 800px) {
    .corpo {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 7px;
    }

    .body-anuncio-img {
        width: 70%;
        height: 642px;
        margin: auto;
        background: #fff;
        padding: 7px;
        border-radius: 7px;
        margin-top: 5px;
    }

    .body-anunciante-img {
        width: 70%;
        height: 613px;
        margin: auto;
        background: #fff;
        padding: 7px;
        border-radius: 7px;
        margin-top: 5px;
    }

}