.registrar-home {
    width: 330px;
    padding: 10px;
    background: #FFF;
    margin-top: 50px;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 4px;
}

.ordem {
    width: 100%;
    margin: 50px auto;
    padding: 5px;
}

.title-head {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
    border-bottom: 2px solid #E12025;
}

.ordemCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
}

.ordemCardItem {
    width: 165px;
    padding: 1px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin:5px;
}

.ordemCardItem .cardNome {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 10pt;
    text-align: left;
}

.ordemCards p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ordemCardItem:hover .imgCard {
    opacity: 0.5;
}

.card {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.card .cardNome {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.card:hover .imgCard {
    opacity: 0.2;
}

.ordemCardItem .imgCard{
    height: 190px;
    width: 190px;
    margin: auto;
}

.info-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 15px;
}

.ordem-detalhe {
    width: 100%;
    padding: 5px;
    margin: auto;
    /* background: #e2e2e2; */
}

.header-detalhe {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 7px;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #E12025;
    padding: 10px;
    padding-bottom: 10px;
    min-width: 100px;
    text-transform: uppercase;
}

.header-detalhe p{
    margin-left: 50px;
}

.detalhe-corpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-detalhe,
.descri-dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.arrow-back {
    margin-top: 20px;
}

.descricao {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 12pt;
    font-weight: 450;
    text-align: justify;
}

.descricao span {
    font-size: 12pt;
    font-weight: 400;
}

.dados-endereco {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
}

.dados-endereco p {
    font-size: 12pt;
    font-weight: 350;
}

.dados-endereco span {
    font-size: 11.5pt;
    font-weight: 300;
    text-transform: none;
}

.url span {
    text-transform: none;
    color: rgb(52, 73, 208);
}

.url a {
    text-decoration: none;
    color: rgb(52, 73, 208);
    ;
}

.ordem-detalhe .estado {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    padding: 6px 2px;
    background: rgba(124, 236, 54, 0.757);
    margin: 10px 5px;
    margin-bottom: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}

.estado {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 6px 2px;
    background: rgba(124, 236, 54, 0.757);
    margin: 10px 5px;
    margin-bottom: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}


.body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-contact span{
    color: #000000;
    font-weight: 600;
}

.prioridade {
    font-size: 12pt;
    text-align: justify;
    font-weight: 350;
}

.contacto {
    width: 100%;
    padding: 3px 2px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.assinaturaImg {
    width: 200px;
}

.registrar-home .btnLogo, .admin-registre .btnLogo {
    border: 1px solid #e1dbdb;
    width: 95%;
}

.registrar-home .txtField,
.registrar-home .txtDesc {
    width: 100%;
}

.registrar-home .titulo-anu {
    width: 100%;
}

.registrar-home .sigla {
    width: 100%;
}

.registrar-home .desig {
    width: 100%;
}

.admin-box .txtField {
    width: 95%;
    margin: 10px;
}

.admin-box .sigla {
    width: 95%;
    margin: 10px;
    /* margin-top: 141px; */
}

.admin-box .desig {
    width: 95%;
    margin: 10px;
    /* margin-top: 141px; */
} 


.boxRegister .btnSend, .admin-registre .btnSend, .registrar-home .btnSend{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.registrar-home .provincia {
    background: #E12025;
}

.registrar-home .erroMessange {
    width: 300px;
    background: #F99F1B;
    padding: 5px 10px;
    border-radius: 4px;
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
}

.aside {
    width: 100%;
    background: #fff;
    margin-top: 5px;
    padding: 10px;
    border-radius: 7px;
    margin-right: 0;
    height: 430px;
}


.body-detalhe {
    background: #fff;
    padding: 10px;
    border-radius: 7px;
}

.assinatura {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 7px;
}

.assinatura-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.assinatura h4 {
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: 400;
    margin: 0 10px;
}

.assinaturaImg {
    width: 370px;
    margin: auto;
    margin-top: 10px;
}

.modalLogo {
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 30px 0;
}

.modalLogo p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 350;
    text-align: center;
    padding: 7px;
}


.imgLogoModal {
    cursor: pointer;
    margin-left: 190px;
}

.imgLogo:hover,
.imgLogoModal:hover {
    opacity: 0.7;
    cursor: pointer;
}

.modal-assinatura {
    width: 100%;
    align-items: center;
}

.modal-assinatura p {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 7px;
}

.icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    margin-left: 10px;
}

.icon-wrapper.clicked {
    transform: rotateY(180deg);
}

.icon-wrapper svg {
    backface-visibility: hidden;
    position: absolute;
}

.icon-wrapper .back {
    transform: rotateY(180deg);
}

.admin-registre {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    margin-top: 50px;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 4px;
}

@media only screen and (min-width: 600px) {
 
    .header-detalhe {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid rgb(184, 62, 62);
        min-width: 100px;
        text-transform: uppercase;
        margin-right: 10px;
    }

    .header-detalhe p{
        margin-left: 20%;
    }

    .header-detalhe .aside {
        display: flex;
        flex-direction: row;
    }

    .assinaturaImg {
        width: 300px;
    }

    .modalLogo {
        width: 600px;
    }

    .ordem {
        width: 80%;
        margin: 50px auto;
        padding: 5px;
    }

    .ordemCardItem {
        width: 290px;
        padding: 1px;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        margin:5px;
    }

    .ordemCardItem .imgCard{
        height: 190px;
        width: 200px;
        margin: auto;
    }

 .info-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media only screen and (min-width: 800px) {
   .registrar-home {
        width: 100%;
    }

    .boxRegister .btnLogo, .admin-registre .btnLogo  {
        width: 20%;
        margin-top: 80px;
    }

    .boxRegister .sigla {
        width: 36%;
        margin-top: 142px;
    }
    .admin-box .sigla {
        margin-top: 141px;
    }

    .boxRegister .titulo-anu {
        width: 430px;
    }
 
    .boxRegister .desig {
        width: 38%;
        margin-top: 142px;
    }

    .boxRegister .txtField {
        width: 31.4%;
    }

    .boxRegister .btnSend{
        display: flex;
        margin-left: 30px;
        margin-top: 5px;
    }

    .boxRegister .txtDesc {
        width: 97%;
    } 

    .admin-registre {
        display: flex;
        flex-wrap: wrap;
        background: #FFF;
        margin-top: 50px;
        box-shadow: 2px 2px 3px #ccc;
        padding-left: 25px;
        border-radius: 4px;
    }

    .admin-box{
        margin: auto;
        justify-content: center;
    } 

    .admin-box .txtField {
        width: 100%;
    }

    .admin-box .sigla {
        width: 100%;
    }

    .admin-box .desig {
        width: 100%;
        margin-top: 141px;
    } 

    .ordem-detalhe {
        width: 100%;
        margin: auto;
        padding: 5px;
        /* background: #f0f0f0; */
        margin-top: 10px;
    }

    .info-contact{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

@media only screen and (min-width: 1000px) {
    .ordem-detalhe {
        width: 100%;
        margin: auto;
        padding: 5px;
        /* background: #f0f0f0; */
        margin-top: 9px;
    }

    .header-detalhe {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        border-bottom: 2px solid rgb(184, 62, 62);
        min-width: 100px;
        text-transform: uppercase;
    }

    .header-detalhe p{
        margin-left: 35%;
    }

    .detalhe-corpo {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .aside {
        width: 25%;
        background: #fff;
        margin: 10px;
        padding: 10px;
        border-radius: 7px;
        margin-right: 0;
    }

    .descri-dados {
        display: flex;
        margin-top: 5px;
        flex-direction: row;
        gap: 10px;
    }

    .header-detalhe .aside {
        display: row;
        flex-direction: row;
    }

    .body-detalhe {
        background: #fff;
        margin-top: 10px;
        padding: 10px;
        border-radius: 7px;
    }

    .assinatura {
        background: #fff;
        margin-top: 10px;
        padding: 10px;
        border-radius: 7px;
    }

    .assinatura-menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }

    .assinatura h4 {
        text-transform: uppercase;
        font-size: 11pt;
        font-weight: 400;
        margin: 0 10px;
    }

    .assinaturaImg {
        margin: auto;
        margin-top: 20px;
    }

    .assinaturaImg {
        width: 370px;
    }

    .corpo {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (min-width: 1030px) {

    .admin-box .txtField {
        width: 31%;
    }

    .admin-box .sigla {
        width: 35%;
    }

    .admin-box .desig {
        width: 38%;
    }

    .admin-box .btnSend{
        display: flex;
        justify-content: flex-end;
        margin-left: 20px;
        margin-top: 5px;
    }
}